*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Jomolhari', serif;
    font-weight: 400;
}

body{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.container{
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.sign-up__wrapper{
    width: 484px;
    height: 598px;
    border-radius: 76px;
    background: #F5C147;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.sign-up-title{
    text-align: center;
}

.sign-up-form{
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}


.sign-up-form input {
    width: 378px;
    height: 60px;
    border-radius: 17px;
    border: 3px solid #000;
    background: #FFF;
    text-indent: 15px;
    color: #787878;
    font-size: 20px;
    font-weight: 400;
    outline: none;
}

.sign-up-text {
    text-align: left;
}

.sign-up-text a{
    text-decoration: none;
    color:#0027f3;
}

.sign-btn{
    width: 203px;
    height: 62px;
    border:none;
    border-radius: 23px;
    background: #000;
    color:#fff;
    font-size: 20px;
}

.chek{
    color:#000;
    display: none;
}